body {
	background: #333;
  }
  .modal.bottom-sheet {
	max-height: 50%;
  }
  
  .embedly-embed {
  	width: 100%;
  	height: 100%;
  }
  
  .card-reveal.post-card {
  	padding: 0 ;
  }
  .post-button {
  	position:absolute;
  	top: 5px;
  	right:5px;
  }
  .text-button {
      position: absolute;
      top: 5px;
      right: 45px;
  }
  .post-button.close-button {
      z-index: 4;
      
  }
  .post-card .embed {
  	height:100%;
  	overflow-y: hidden;
  	width:100%;
  	z-index: 0;
  }
  
  
  .post-content .row {
      margin-bottom: 0;
  }
  .card.small .card-content.post-content {
      padding: 0px;
      position: absolute;
      width:100%;
      height:100%;
      z-index:1;
      max-height:100%;
      
  }
  
  .card.small .card-image.post-image {
      max-height:100%;
      width:100%;
      
  } 
  
  .card-text {
      line-height: 1;
      
  }
  .post-content {
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  .post-content .content {
      padding: 10px;
      min-height:70px;
  }
  
  .text-content {
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
  }
 
  .post-username {
        display:inline;
        position: absolute;
        right: 0;
        top: -27px;
        padding: 3px 8px 3px 8px;
  }
  .post-content span {
      width:100%;
      height:100%;
      
  }
  .post-menu-link {
  	text-shadow: 3px 0px rgba(0,0,0,.9);
  	position:absolute;
  	top: 9px;
  	left: 9px;
  	z-index: 2;
  	
  }
  
  #login-dropdown-list.accounts-dialog {
      right: 15px;
      left: inherit;
  }
  
  .card-content .post-content .card-title{
  	font-size:18px;
  	line-height: 24px;
  	
  }
  
  .card.x-small {
      height:139.5px;
      position: relative;
  }
  .card.x-small .card-content {
      max-height:100%;
      overflow:hidden;
  }
  .center-icon {
      vertical-align: middle;
  }