<div class="cyan darken-1 post-tagBox" ng-show="!ctrlTag.fn.showTagMenu()">
    <a href="#" class="cyan-text text-accent-1" ng-show="ctrlTag.fn.showMenu()" ng-click="ctrlTag.fn.addTagModal()">
        <i class="material-icons tiny center-icon">{{ctrlTag.addButton}}</i>
    </a>
    <span>({{ctrlTag.fn.totalVotes(ctrlTag.post)}})</span>
    <a href="#" class="cyan-text text-accent-2 post-tag" ng-repeat="tag in ctrlTag.post.tags | limitTo:3| orderBy: ['-votes','-createdAt']" ng-click="ctrlTag.fn.openTagMenu(tag)">
        #{{tag.name}}
    </a>
    <div class="cyan white-text newTag darken-2" ng-show="ctrlTag.fn.showTagModal()">
        <form ng-submit="ctrlTag.fn.addToPost()">
	        <input type="text" ng-model="ctrlTag.newTag" placeholder="new tag">
	    </form>
    </div>
</div>

<div class="tagMenu collection" ng-show="ctrlTag.fn.showTagMenu()">
    <a href="#" class="collection-item center-align cyan darken-2 cyan-text text-accent-2 tooltipped" ng-click="ctrlTag.fn.openTagMenu()" data-position="bottom" data-tooltipped="Close Menu">#{{ctrlTag.tagMenu.tag.name}}</a>
    <a href="#" class="collection-item" ng-click="ctrlTag.fn.voteTag()"><i class="material-icons tiny">arrow_upward</i> Vote</a>
    <a href="3" class="collection-item" ng-click="ctrlTag.fn.delTag()" ng-show="ctrlTag.tagMenu.tag.owner == $root.currentUser._id"><i class="material-icons tiny">delete</i> Delete</a>
</div>